.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.info-card {
  background-color: #a6d1e6;
  color: #7f5283;
  max-width: 19% !important;
}

.oper_btn{
  background-color: transparent;
  margin-right: 10px;
  border: none;
  color: #3486cc;
}
.oper_btn .bi-trash3-fill{
  color: #ee4a24;
}
.oper_btn:hover{
  background-color: rgba(0, 0, 0, 0.500);
}


.create-form label{
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}